<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--begin::Head-->
<head>
    <meta charset="utf-8"/>
    <title>Eumyurato</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/E114_logo.png}"/>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <!-- Popper JS -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

    <script th:src="@{https://cdn.jsdelivr.net/npm/popperjs/core2.9.3/dist/umd/popper.min.js}"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript -->
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}"
            crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}" crossorigin="anonymous"></script>
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link th:href="@{/css/profile/profile1.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile3.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/pagination.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/home/home1.css}" rel="stylesheet"/>
    <!--end::Global Stylesheets Bundle-->
</head>

<body>
<div id="wrap" style="background-color: #FFFFFF">
    <table style="text-align:center; border:none; height: auto;">
        <tr>
            <td colspan="4">
                <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="navLogin">
                    <div class="container" style="margin-left: 10px;">
                        <a class="navbar-brand" href="/map"><img th:src="@{/img/logo_name.png}"></a>
                    </div>
                    <div style="margin-right: 5%">
                        <a id="logoutBtn">
                            <img th:src="@{/img/logout.png}" style="height: 35px; width: 35px;">
                        </a>
                    </div>
                </nav>
            </td>
        </tr>
        <tr>
            <td style="width:10%">

            </td>

            <td style="height:auto; width:15%;">
                <div style="width: 240px; background-color:rgb(242, 240, 229); border: 2px solid rgb(212, 211, 201); position: absolute; top:120px; height: 900px">
                    <br>
                    <dl style="text-align: left; margin-left: 35px;">
                        <hr style="width: 170px"/>
                        <h2>일반회원 홈</h2>
                        <hr style="width: 170px"/>
                        <dd>
                            <a style="color: #000000; font-size: 20px;" th:href="@{/profile/common/account}">
                                계정 정보
                            </a>
                        </dd>

                        <dd>
                            <a style="color: #000000; font-size: 20px" th:href="@{/profile/common/modify}">
                                계정 정보 수정
                            </a>
                        </dd>

                        <br>
                        <hr style="width: 170px"/>
                        <h2>예약 관리</h2>
                        <hr style="width: 170px"/>
                        <dd>
                            <a style="color: #000000; font-size: 20px" th:href="@{/profile/common/reservation/view}">
                                예약 내역
                            </a>
                        </dd>
                        <br>
                        <hr style="width: 170px"/>
                        <h2>공지사항</h2>
                        <hr style="width: 170px"/>
                        <dd>
                            <a style="color: #000000; font-size: 20px" th:href="@{/profile/common/info/view}">
                                공지사항
                            </a>
                        </dd>
                    </dl>
                    <br>
                </div>
            </td>
            <td style="width:65%">
                <div style="margin-top: 117px; margin-bottom: 10px; background-color:rgb(242, 240, 229); border: 2px solid rgb(212, 211, 201); width:1200px; height: 900px; display: flex; ">

            <span class="form needs-validation text-center" id="kt_login_signin_form1" style=" margin-top: 3%; margin-left: 10%;">
                <div>
                    <p class="text-dark display-6 text-start"
                       style="font-size: 60px; margin-bottom: 15px;">내 계정</p>
                    <hr style="width: 180px"/>
                </div>
                <!--begin::Image input-->
                <div class="image-input image-input-outline"
                     data-kt-image-input="true"
                     style="display: flex; justify-content: center; align-items: center; width: 350px; height: 400px; margin-right: 70px; margin-top: 50px"
                     id="profileImg">
                </div>
            </span>

                    <span class="form w-500px  needs-validation text-center" id="kt_login_signin_form2" style="margin-top: 14%; margin-left: 40px">
                <dl style="font-size: 35px">
                    <dd style="text-align: left; margin-bottom: 15px;">아이디 : <a id="common-id"></a></dd>
                    <dd style="text-align: left; margin-bottom: 15px;">이름 : <a id="common-name"></a></dd>
                    <dd style="text-align: left; margin-bottom: 15px;">닉네임 : <a id="common-nid"></a></dd>
                    <dd style="text-align: left; margin-bottom: 15px;">성별 : <a id="common-sex"></a></dd>
                    <dd style="text-align: left; margin-bottom: 15px;">생년월일 : <a id="common-birth"></a></dd>
                    <dd style="text-align: left; margin-bottom: 15px;">이메일 : <a id="common-email"></a></dd>
                    <dd style="text-align: left; margin-bottom: 15px;">휴대폰번호 : <a id="common-phone"></a></dd>
                    <dd style="text-align: left; margin-bottom: 15px;">선호장르 : <a id="common-genre"></a></dd>
                    <dd style="text-align: left; margin-bottom: 15px;">유입경로 : <a id="common-road"></a></dd>
                </dl>
           </span>
                </div>
            </td>

            <td style="width:10%">

            </td>
        </tr>
        <tr>
            <td colspan="4">
                <footer class="footer text-center" style="width: auto;">
                    <div class="container">
                        <div class="row">
                            <!-- Footer Location-->
                            <div class="col-lg-4 mb-1 mb-lg-0">
                                <h4 class="text-uppercase mb-4">TEAM E114</h4>
                                <p class="lead mb-0">
                                    내향인 4명 모인 팀
                                </p>
                            </div>
                            <!-- Footer Social Icons-->
                            <div class="col-lg-4 mb-1 mb-lg-0">
                                <h4 class="text-uppercase mb-4">Our Github</h4>
                                <a class="btn btn-outline-light btn-social mx-1" th:href="@{https://github.com/thdhksrb}">
                                    <img th:src="@{/img/swk.jpg}" alt="GitHub Profile"
                                         style="width: 3.25rem; height: 3.25rem; border-radius: 50%;"/>
                                </a>
                                <a class="btn btn-outline-light btn-social mx-1" th:href="@{https://github.com/noeypark}">
                                    <img th:src="@{/img/noey.jpg}" alt="GitHub Profile"
                                         style="width: 3.25rem; height: 3.25rem; border-radius: 50%;"/>
                                </a>
                                <a class="btn btn-outline-light btn-social mx-1" th:href="@{https://github.com/Minchae128}">
                                    <img th:src="@{/img/smc.jpg}" alt="GitHub Profile"
                                         style="width: 3.25rem; height: 3.25rem; border-radius: 50%;"/>
                                </a>
                                <a class="btn btn-outline-light btn-social mx-1" th:href="@{https://github.com/hwewon}">
                                    <img th:src="@{/img/hea.jpg}" alt="GitHub Profile"
                                         style="width: 3.25rem; height: 3.25rem; border-radius: 50%;"/>
                                </a>
                            </div>
                            <!-- Footer About Text-->
                            <div class="col-lg-4">
                                <h4 class="text-uppercase mb-3">TEAM INTRO</h4>
                                <p class="lead mb-0">
                                    같이 성장할 기업의 연락을 기다립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Copyright Section-->
                    <div class="copyright py-4 text-center text-white mt-0" style="font-size: 10px">
                        <div class="container"><small>본 페이지는 상업적 목적이 아닌 개인 포트폴리오용으로 제작되었습니다.</small></div>
                        <div class="container"><small>© 2023 TEAM E114. All Rights Reserved.</small></div>
                    </div>
                </footer>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" th:src="@{/js/profile/profile_commonAccount.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jwt-decode/2.2.0/jwt-decode.min.js}"></script>
</body>
</html>