<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--begin::Head-->
<head>
    <meta charset="utf-8"/>
    <base href="../">
    <title>Eumyurato</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/E114_logo.png}"/>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link th:href="@{/css/profile/profile1.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile3.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/pagination.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/home/home1.css}" rel="stylesheet"/>
<body>
<div id="wrap" style="background-color: #FFFFFF">
    <table style="text-align:center; border:none; height: auto;">
        <tr>
            <td colspan="4">
                <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="navLogin">
                    <div class="container" style="margin-left: 10px;">
                        <a class="navbar-brand" href="/map"><img th:src="@{/img/logo_name.png}"></a>
                    </div>
                    <div style="margin-right: 5%">
                        <a id="logoutBtn">
                            <img th:src="@{/img/logout.png}" style="height: 35px; width: 35px;">
                        </a>
                    </div>
                </nav>
            </td>
        </tr>
        <tr>
            <td style="width:10%">

            </td>

            <td style="height:auto; width:15%;">
                <div style="width: 240px; background-color:rgb(242, 240, 229); border: 2px solid rgb(212, 211, 201); position: absolute; top:120px; height: 1000px">
                    <br>
                    <dl style="text-align: left; margin-left: 35px;">
                        <hr style="width: 170px"/>
                        <h2>관리자 홈</h2>
                        <hr style="width: 170px"/>
                        <dd>
                            <a style="color: #000000; font-size: 20px;" th:href="@{/profile/admin/account}">
                                계정 정보
                            </a>
                        </dd>

                        <br>
                        <hr style="width: 170px"/>
                        <h2>종합 관리</h2>
                        <hr style="width: 170px"/>
                        <dd>
                            <a style="color: #000000; font-size: 20px" th:href="@{/profile/admin/reservation/view}">
                                사용자예약 내역
                            </a>
                        </dd>
                        <dd>
                            <a style="color: #000000; font-size: 20px" th:href="@{/profile/admin/management/view}">
                                공연 관리
                            </a>
                        </dd>

                        <br>
                        <hr style="width: 170px"/>
                        <h2>통합 정보</h2>
                        <hr style="width: 170px"/>
                        <dd>
                            <a style="color: #000000; font-size: 20px" th:href="@{/profile/admin/total/view}">
                                회원 정보
                            </a>
                        </dd>
                        <dd>
                            <a style="color: #000000; font-size: 20px" th:href="@{/profile/admin/total/chart}">
                                회원 종합 차트
                            </a>
                        </dd>

                        <br>
                        <hr style="width: 170px"/>
                        <h2>공지사항</h2>
                        <hr style="width: 170px"/>
                        <dd>
                            <a style="color: #000000; font-size: 20px" th:href="@{/profile/admin/info/view}">
                                공지사항
                            </a>
                        </dd>
                    </dl>
                    <br>
                </div>
            </td>

            <td style="width:65%">
                <div style="margin-top: 117px; margin-bottom: 10px; background-color:rgb(242, 240, 229); border: 2px solid rgb(212, 211, 201); width:1200px; height: 1000px; display: flex; ">
                    <div class="mx-auto w-100"
                         style="width: 1200px;display: flex; margin-top: -28%; margin-left: -28%;">

                        <div style="margin-top: 43%; margin-left: 2%; display: flex">
            <span class="form needs-validation text-center" id="kt_login_signin_form1" style="margin-top:-12%;">
                <div style="margin-left: 8% ">
                    <p class="text-dark display-6 text-start"
                       style="font-size: 60px; margin-bottom: 15px;">회원 정보</p>
                    <hr style="width: 240px"/>
                </div>

 <div class="login-content flex-lg-row-fluid d-flex flex-column overflow-hidden py-10 py-lg-20 px-5 p-lg-5"
      style="max-width: 1200px; width: 1100px; margin-left:2%">
            <!--begin::Wrapper-->
     <!--begin::Signin Form-->
            <div class="form needs-validation text-center" id="kt_login_signin_form" style="height: 700px;" novalidate>
                <div style="color:#000000; padding:15px;  height: 550px;">

    <div class="search-container" style="margin-left:5%">
                                            <div style="display: flex; align-items: center; margin-bottom: 15px;">
                        <a class="text-gray-600 text-hover-primary"
                           style=" font-size: 20px; margin-left: 350px; cursor:pointer;" id="commonBtn">일반 회원</a>
                        <a target="_blank"
                           class="text-gray-600 text-hover-primary ms-3" style=" font-size: 20px;">|</a>
                        <a class="text-gray-600 text-hover-primary ms-3"
                           id="artistBtn" style=" font-size: 20px; cursor:pointer;">아티스트 회원</a>

                        <a target="_blank"
                           class="text-gray-600 text-hover-primary ms-3" style=" font-size: 20px;">|</a>
                        <a class="text-gray-600 text-hover-primary ms-3" style=" font-size: 20px; cursor:pointer;"
                           id="enterpriseBtn">기업 회원</a>
                                    </div>
                                        <select id="searchColumn" style="width: 10%; height: 40px; border-radius: 5px;">
                            <!-- 일반 회원 옵션 -->
                            <option class="common" value="id">아이디</option>
                            <option class="common" value="nid">닉네임</option>
                            <option class="common" value="genre">선호 장르</option>

                                            <!-- 아티스트 회원 옵션 -->
                            <option class="artist" value="id">아이디</option>
                            <option class="artist" value="nid">활동명</option>
                            <option class="artist" value="genre">장르</option>

                                            <!-- 기업 회원 옵션 -->
                            <option class="enterprise" value="id">아이디</option>
                            <option class="enterprise" value="name">기업명</option>
                                        </select>
                                        <input type="text" id="searchKeyword" placeholder="검색어 입력"
                                               style="width: 30%; height: 40px; border-radius: 5px; border: 1px solid #cccad4">
                                        <button class="btn btn-primary" id="searchBtn"
                                                style="width: 10%;">Search</button>
    </div>

                    <div>
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-rounded table-striped border gy-5 gs-5" id="eventTable"
                                           style="width: 1100px;  background-color:#FFFFFF; ">
                                        <thead id="memberThead">
                                        <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                                            <!-- 기본 공통 컬럼 -->

                                            <!-- 일반 회원 컬럼 -->
                                            <th class="common" style="display: none">아이디</th>
                                            <th class="common" style="display: none">성명</th>
                                            <th class="common" style="display: none">닉네임</th>
                                            <th class="common" style="display: none">성별</th>
                                            <th class="common" style="display: none">생년월일</th>
                                            <th class="common" style="display: none">이메일</th>
                                            <th class="common" style="display: none">번호</th>
                                            <th class="common" style="display: none">유입 경로</th>
                                            <th class="common" style="display: none">선호 장르</th>

                                            <!-- 아티스트 회원 컬럼 -->
                                            <th class="artist" style="display: none">아이디</th>
                                            <th class="artist" style="display: none">성명</th>
                                            <th class="artist" style="display: none">활동명</th>
                                            <th class="artist" style="display: none">성별</th>
                                            <th class="artist" style="display: none">생년월일</th>
                                            <th class="artist" style="display: none">이메일</th>
                                            <th class="artist" style="display: none">번호</th>
                                            <th class="artist" style="display: none">장르</th>
                                            <th class="artist" style="display: none">포인트</th>

                                            <!-- 기업 회원 컬럼 -->
                                            <th class="enterprise" style="display: none">아이디</th>
                                            <th class="enterprise" style="display: none">기업명</th>
                                            <th class="enterprise" style="display: none">사업자 등록번호</th>
                                            <th class="enterprise" style="display: none">이메일</th>
                                            <th class="enterprise" style="display: none">대표 번호</th>
                                        </tr>
                                        </thead>
                                        <tbody id="memberTbody">
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="16">
                                                <ul class="pagination"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    </span>

                        </div>
                    </div>
                </div>
            </td>

            <td style="width:10%">

            </td>
        </tr>
        <tr>
            <td colspan="4">
                <footer class="footer text-center" style="width: auto;">
                    <div class="container">
                        <div class="row">
                            <!-- Footer Location-->
                            <div class="col-lg-4 mb-1 mb-lg-0">
                                <h4 class="text-uppercase mb-4">TEAM E114</h4>
                                <p class="lead mb-0">
                                    내향인 4명 모인 팀
                                </p>
                            </div>
                            <!-- Footer Social Icons-->
                            <div class="col-lg-4 mb-1 mb-lg-0">
                                <h4 class="text-uppercase mb-4">Our Github</h4>
                                <a class="btn btn-outline-light btn-social mx-1"
                                   th:href="@{https://github.com/thdhksrb}">
                                    <img th:src="@{/img/swk.jpg}" alt="GitHub Profile"
                                         style="width: 3.25rem; height: 3.25rem; border-radius: 50%;"/>
                                </a>
                                <a class="btn btn-outline-light btn-social mx-1"
                                   th:href="@{https://github.com/noeypark}">
                                    <img th:src="@{/img/noey.jpg}" alt="GitHub Profile"
                                         style="width: 3.25rem; height: 3.25rem; border-radius: 50%;"/>
                                </a>
                                <a class="btn btn-outline-light btn-social mx-1"
                                   th:href="@{https://github.com/Minchae128}">
                                    <img th:src="@{/img/smc.jpg}" alt="GitHub Profile"
                                         style="width: 3.25rem; height: 3.25rem; border-radius: 50%;"/>
                                </a>
                                <a class="btn btn-outline-light btn-social mx-1" th:href="@{https://github.com/hwewon}">
                                    <img th:src="@{/img/hea.jpg}" alt="GitHub Profile"
                                         style="width: 3.25rem; height: 3.25rem; border-radius: 50%;"/>
                                </a>
                            </div>
                            <!-- Footer About Text-->
                            <div class="col-lg-4">
                                <h4 class="text-uppercase mb-3">TEAM INTRO</h4>
                                <p class="lead mb-0">
                                    같이 성장할 기업의 연락을 기다립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Copyright Section-->
                    <div class="copyright py-4 text-center text-white mt-0" style="font-size: 10px">
                        <div class="container"><small>본 페이지는 상업적 목적이 아닌 개인 포트폴리오용으로 제작되었습니다.</small></div>
                        <div class="container"><small>© 2023 TEAM E114. All Rights Reserved.</small></div>
                    </div>
                </footer>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" th:src="@{/js/profile/profile_member.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jwt-decode/2.2.0/jwt-decode.min.js}"></script>
</body>
</html>