<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--begin::Head-->
<head>
    <meta charset="utf-8"/>
    <base href="../">
    <title>Eumyurato</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/E114_logo.png}"/>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link type="text/css" th:href="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css}"
          rel="stylesheet"/>
    <link th:href="@{/css/profile/profile1.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile3.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/datepicker.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/home/home1.css}" rel="stylesheet"/>
<body>
<div id="wrap" style="background-color: #FFFFFF">
    <table style="text-align:center; border:none; height: auto;">
        <tr>
            <td colspan="4">
                <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="navLogin">
                    <div class="container" style="margin-left: 10px;">
                        <a class="navbar-brand" href="/map"><img th:src="@{/img/logo_name.png}"></a>
                    </div>
                    <div style="margin-right: 5%">
                        <a id="logoutBtn">
                            <img th:src="@{/img/logout.png}" style="height: 35px; width: 35px;">
                        </a>
                    </div>
                </nav>
            </td>
        </tr>
        <tr>
            <td style="width:10%">

            </td>

            <td style="height:auto; width:15%;">
                <div style="width: 240px; background-color:rgb(242, 240, 229); border: 2px solid rgb(212, 211, 201); position: absolute; top:120px; height: 1850px">
                    <br>
                    <dl style="text-align: left; margin-left: 35px;">
                        <hr style="width: 170px"/>
                        <h2>기업 홈</h2>
                        <hr style="width: 170px"/>
                        <dd>
                            <a style="color: #000000; font-size: 20px;" th:href="@{/profile/ent/account}">
                                계정 정보
                            </a>
                        </dd>
                        <dd>
                            <a style="color: #000000; font-size: 20px;" th:href="@{/profile/ent/modify}">
                                계정 정보 수정
                            </a>
                        </dd>

                        <br>
                        <hr style="width: 170px"/>
                        <h2>공연 관리</h2>
                        <hr style="width: 170px"/>
                        <dd>
                            <a style="color: #000000; font-size: 20px" th:href="@{/profile/ent/reservation/view}">
                                예약 관리
                            </a>
                        </dd>
                        <dd>
                            <a style="color: #000000; font-size: 20px" th:href="@{/profile/ent/management/view}">
                                공연 관리
                            </a>
                        </dd>

                        <br>
                        <hr style="width: 170px"/>
                        <h2>공지사항</h2>
                        <hr style="width: 170px"/>
                        <dd>
                            <a style="color: #000000; font-size: 20px" th:href="@{/profile/ent/info/view}">
                                공지사항
                            </a>
                        </dd>

                    </dl>
                    <br>
                </div>
            </td>

            <td style="width:65%">
                <div style="margin-top: 117px; margin-bottom: 10px; background-color:rgb(242, 240, 229); border: 2px solid rgb(212, 211, 201); width:1200px; height: 1850px; display: flex; ">

                    <div class="login-content flex-lg-row-fluid d-flex flex-column overflow-hidden mx-auto mw-1000px w-100"
                         style="display: flex; margin-top: 15px; margin-left: 40px; height: 2000px">

                        <div style="margin-top: -18%; display: flex">

            <span class="form needs-validation text-center" id="kt_login_signin_form1" style="margin-left: 30px">
                <div style=" margin-left: -58%; margin-bottom: 5%">
                    <p class="text-dark display-6 text-start"
                       style="font-size: 60px; margin-bottom: 15px;">소규모 공연 등록</p>
                    <hr style="width: 450px"/>
                </div>

            <form class="form w-450px  needs-validation text-center" id="kt_login_signin_form" style="margin-top: 15%;"
                  novalidate>
                <!--begin::Image input-->
                <div class="image-input image-input-outline" data-kt-image-input="true"
                     style="margin-bottom: 20px; display: flex; justify-content: center; align-items: center">
                    <!--begin::Image preview wrapper-->
                    <div style="width:350px; height:400px; overflow: hidden; display: flex; justify-content: center; align-items: center; position: relative;">
                        <img id="previewImage" src="#" alt="프로필사진"
                             style="max-width: 100%; max-height: 100%; object-fit: cover;"/>
                        <!--end::Image preview wrapper-->

                        <!--begin::Edit button-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                               data-kt-image-input-action="change"
                               data-bs-toggle="tooltip"
                               data-bs-dismiss="click"
                               title="Change avatar"
                               style="position: absolute; right: 10px; top: 10px;">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--begin::Inputs-->
                            <input type="file" name="avatar" accept=".jpg, .png"/>
                            <input type="hidden" name="avatar_remove"/>
                            <!--end::Inputs-->
                        </label>
                        <!--end::Edit button-->
                    </div>
                </div>
                <!--end::Image input-->

                <div class="fv-row mb-2">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5"
                           style="float: left; margin-right:5px;">공연명</label>
                    <label class="form-label fs-8 fw-bolder pt-4" style="float: left; color: #ff0000">*</label>
                    <input class="form-control form-control-lg form-control-solid" type="text"
                           placeholder=""
                           name="name" autocomplete="off" style="border-color: #0099FF;"/>
                    <label class="form-label fs-6 fw-bolder text-dark pt-5"
                           style="float: left; margin-right:5px;">공연자</label>
                    <label class="form-label fs-8 fw-bolder pt-4" style="float: left; color: #ff0000">*</label>
                    <input class="form-control form-control-lg form-control-solid" type="text"
                           placeholder=""
                           name="pname" autocomplete="off" style="border-color: #0099FF;"/>
                </div>
                <div class="fv-row mb-3">
                    <div style="display: flex; align-items: center;">
                        <label class="form-label fs-6 fw-bolder text-dark pt-5" style="float: left; margin-right:5px;">주소</label>
                        <label class="form-label fs-8 fw-bolder pt-4" style="float: left; color: #ff0000">*</label>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <input type="text" id="sample4_postcode" class="form-control form-control-lg form-control-solid"
                               placeholder="우편번호"
                               autocomplete="off" style="border-color: #0099FF; width: 250px; margin-right: 50px;"
                               readonly>
                        <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"
                               class="btn btn-primary fw-bolder fs-4 px-8 py-4 my-3 me-4">
                    </div>
                    <input type="text" id="sample4_roadAddress" name="sample4_roadAddress"
                           class="form-control form-control-lg form-control-solid" placeholder="주소"
                           autocomplete="off" style="border-color: #0099FF;" readonly><br>
                    <input type="text" id="sample4_detailAddress"
                           class="form-control form-control-lg form-control-solid" placeholder="상세주소"
                           autocomplete="off" style="border-color: #0099FF;">
                </div>

                <div class=" fv-row mb-2">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5"
                           style="float: left; margin-right:5px;">기업 ID</label>
                    <label class="form-label fs-8 fw-bolder pt-4" style="float: left; color: #ff0000">*</label>
                    <input class="form-control form-control-lg form-control-solid" type="text"
                           name="enterId" id="enterId" autocomplete="off" style="border-color: #0099FF;" readonly/>
                </div>
                <div class=" fv-row mb-2">
                    <div>

                        <div class=" fv-row mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark pt-5"
                                   style="float: left; margin-right:5px;">공연 시작 일자</label>
                            <label class="form-label fs-8 fw-bolder pt-4" style="float: left; color: #ff0000">*</label>
                            <input autocomplete="off" class="form-control form-control-lg form-control-solid datepicker"
                                   id="startDate" name="startDate" placeholder="" required
                                   style="border-color: #0099FF;" type="text"/>

                            <label class="form-label fs-6 fw-bolder text-dark pt-5"
                                   style="float: left; margin-right:5px;">공연 마감 일자</label>
                            <label class="form-label fs-8 fw-bolder pt-4" style="float: left; color: #ff0000">*</label>
                            <input autocomplete="off" class="form-control form-control-lg form-control-solid datepicker"
                                   id="lastDate" name="lastDate" placeholder="" required
                                   style="border-color: #0099FF;" type="text"/>
                        </div>

                    </div>
                </div>
                <div class=" fv-row mb-3">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5"
                           style="float: left; margin-right:5px;">가격</label>
                    <label class="form-label fs-8 fw-bolder pt-4" style="float: left; color: #ff0000">*</label>
                    <input class="form-control form-control-lg form-control-solid" type="text"
                           name="price" id="price" autocomplete="off" style="border-color: #0099FF;"/>
                </div>
                <div class="fv-row mb-10 mt-10"> <!-- mt-5를 추가하여 위쪽에 5단위의 빈 공간을 추가 -->
                    <div class="d-flex flex-wrap justify-content-center pb-lg-0 pb-5">
                        <!-- justify-content-end 클래스를 추가하여 오른쪽으로 정렬 -->
                        <button type="submit" class="btn btn-primary fw-bolder fs-4 px-8 py-4 my-3 me-4"
                                id="concertRegister">공연 등록
                        </button>
                    </div>
                </div>
            </form>
            </span>
                        </div>
                    </div>
                </div>
            </td>

            <td style="width:10%">

            </td>
        </tr>
        <tr>
            <td colspan="4">
                <footer class="footer text-center" style="width: auto;">
                    <div class="container">
                        <div class="row">
                            <!-- Footer Location-->
                            <div class="col-lg-4 mb-1 mb-lg-0">
                                <h4 class="text-uppercase mb-4">TEAM E114</h4>
                                <p class="lead mb-0">
                                    내향인 4명 모인 팀
                                </p>
                            </div>
                            <!-- Footer Social Icons-->
                            <div class="col-lg-4 mb-1 mb-lg-0">
                                <h4 class="text-uppercase mb-4">Our Github</h4>
                                <a class="btn btn-outline-light btn-social mx-1"
                                   th:href="@{https://github.com/thdhksrb}">
                                    <img th:src="@{/img/swk.jpg}" alt="GitHub Profile"
                                         style="width: 3.25rem; height: 3.25rem; border-radius: 50%;"/>
                                </a>
                                <a class="btn btn-outline-light btn-social mx-1"
                                   th:href="@{https://github.com/noeypark}">
                                    <img th:src="@{/img/noey.jpg}" alt="GitHub Profile"
                                         style="width: 3.25rem; height: 3.25rem; border-radius: 50%;"/>
                                </a>
                                <a class="btn btn-outline-light btn-social mx-1"
                                   th:href="@{https://github.com/Minchae128}">
                                    <img th:src="@{/img/smc.jpg}" alt="GitHub Profile"
                                         style="width: 3.25rem; height: 3.25rem; border-radius: 50%;"/>
                                </a>
                                <a class="btn btn-outline-light btn-social mx-1" th:href="@{https://github.com/hwewon}">
                                    <img th:src="@{/img/hea.jpg}" alt="GitHub Profile"
                                         style="width: 3.25rem; height: 3.25rem; border-radius: 50%;"/>
                                </a>
                            </div>
                            <!-- Footer About Text-->
                            <div class="col-lg-4">
                                <h4 class="text-uppercase mb-3">TEAM INTRO</h4>
                                <p class="lead mb-0">
                                    같이 성장할 기업의 연락을 기다립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Copyright Section-->
                    <div class="copyright py-4 text-center text-white mt-0" style="font-size: 10px">
                        <div class="container"><small>본 페이지는 상업적 목적이 아닌 개인 포트폴리오용으로 제작되었습니다.</small></div>
                        <div class="container"><small>© 2023 TEAM E114. All Rights Reserved.</small></div>
                    </div>
                </footer>
            </td>
        </tr>
    </table>
</div>
<!--우편번호 API-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!--datepicker용-->
<script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js}"></script>
<script type="text/javascript"
        th:src="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/profile/profile_concert_register_ent.js}"></script>
<!-- 캘린더 옵션 { -->
<script>
    $.datepicker.setDefaults({
        closeText: "닫기",
        prevText: "이전달",
        nextText: "다음달",
        currentText: "오늘",
        monthNames: ["1월", "2월", "3월", "4월", "5월", "6월",
            "7월", "8월", "9월", "10월", "11월", "12월"
        ],
        monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월",
            "7월", "8월", "9월", "10월", "11월", "12월"
        ],
        dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
        dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
        dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
        weekHeader: "주",
        dateFormat: "yy.m.d", // 날짜형태 예)yy년 m월 d일
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: true,
        yearSuffix: "년"
    })

    $(".datepicker").datepicker({
        minDate: 0
    })

    $('#startDate, #lastDate').datepicker('setDate', 'today');
</script>
</body>
</html>